.matchinggraphic {

  .matching {
    &__item-graphic {
      padding: 1rem;
    }
  }
  &.has-columns {
    .matching__widget {
      display: flex;
      .matching__select-container{
        padding: 0 1rem;
      }
    }
  }
}

